oracle.install.responseFileVersion=/oracle/install/rspfmt_oggca_response_schema_v23_1_0
CONFIGURATION_OPTION=ADD
DEPLOYMENT_NAME=SCSP
ADMINISTRATOR_USER=oggadmin
ADMINISTRATOR_PASSWORD=Nithin#0712
DEPLOYMENT_ADMINISTRATOR_USER=oggadmin
DEPLOYMENT_ADMINISTRATOR_PASSWORD=Nithin#0712
SERVICEMANAGER_DEPLOYMENT_HOME=/u01/app/sm_home
SERVICEMANAGER_ETC_HOME=
SERVICEMANAGER_CONF_HOME=
SERVICEMANAGER_SSL_HOME=
SERVICEMANAGER_VAR_HOME=
SERVICEMANAGER_DATA_HOME=
SERVICEMANAGER_ARCHIVE_HOME=
HOST_SERVICEMANAGER={{ hostname }}
PORT_SERVICEMANAGER=16000
SECURITY_ENABLED=false
STRONG_PWD_POLICY_ENABLED=false
CREATE_NEW_SERVICEMANAGER=true
REGISTER_SERVICEMANAGER_AS_A_SERVICE=true
INTEGRATE_SERVICEMANAGER_WITH_XAG=false
EXISTING_SERVICEMANAGER_IS_XAG_ENABLED=false
ENABLE_SERVICE_MANAGER_REMOTE_METRICS=false
SERVICE_MANAGER_REMOTE_METRICS_LISTENING_HOST=
SERVICE_MANAGER_REMOTE_METRICS_LISTENING_PORT=0
CONFIGURATION_SERVICE_ENABLED=true
CONFIGURATION_SERVICE_BACKEND_TYPE=FILESYSTEM
CONFIGURATION_SERVICE_BACKEND_CONNECTION_STRING=
CONFIGURATION_SERVICE_BACKEND_USERNAME=
CONFIGURATION_SERVICE_BACKEND_PASSWORD=
CONFIGURATION_SERVICE_BACKEND_TABLE_NAME=
OGG_SOFTWARE_HOME={{ ogg_home }}
OGG_DEPLOYMENT_HOME=/u01/app/dp_home
OGG_ETC_HOME=
OGG_CONF_HOME=
OGG_SSL_HOME=
OGG_VAR_HOME=
OGG_DATA_HOME=
OGG_ARCHIVE_HOME=
ENV_LD_LIBRARY_PATH={{ ogg_home }}/lib/instantclient:{{ ogg_home }}/lib
ENV_TNS_ADMIN={{ tns_admin }}
ENV_STREAMS_POOL_SIZE=
ENV_USER_VARS=
TLS_1_2_ENABLED=false
TLS_1_3_ENABLED=true
FIPS_ENABLED=false
SERVER_CERTIFICATE=
SERVER_CERTIFICATE_KEY_FILE=
SERVER_CA_CERTIFICATES_FILE=
CLIENT_CERTIFICATE=
CLIENT_CERTIFICATE_KEY_FILE=
CLIENT_CA_CERTIFICATES_FILE=
ADMINISTRATION_SERVER_ENABLED=true
PORT_ADMINSRVR=16001
DISTRIBUTION_SERVER_ENABLED=true
PORT_DISTSRVR=16002
NON_SECURE_DISTSRVR_CONNECTS_TO_SECURE_RCVRSRVR=false
RECEIVER_SERVER_ENABLED=true
PORT_RCVRSRVR=16003
METRICS_SERVER_ENABLED=true
METRICS_SERVER_IS_CRITICAL=false
PORT_PMSRVR=16004
PMSRVR_DATASTORE_TYPE=BDB
PMSRVR_DATASTORE_HOME=/u01/app/metrics
ENABLE_DEPLOYMENT_REMOTE_METRICS=false
DEPLOYMENT_REMOTE_METRICS_LISTENING_HOST=
DEPLOYMENT_REMOTE_METRICS_LISTENING_PORT=0
OGG_SCHEMA=oggadmin
